<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bridgit: E-Mentor Application</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_mentor %>
          <li><%= link_to "Dashboard",  root_path %></li>
          <li><%= link_to "Sign Out", "/mentors/sign_out", method: :delete %></li>
        <% else %>
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "How it works",    howitworks_path %></li>
          <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Mentor Sign In", new_mentor_session_path %></button></li>
          <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Mentee Sign In", new_mentee_session_path %></button></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>